<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Inspector</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <h1>Disease Inspector</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <h2>Add your Symptoms</h2>
    <form method="post" action="/query">
        <label for="symptoms"></label>
        <select name="symptoms" multiple>
            <option value="http://ex.org/cardiovascularFinding">Cardiovascular finding</option>
            <option value="http://ex.org/hypercapnia">Hypercapnia</option>
            <option value="http://ex.org/heavyFeeling">Heavy feeling</option>
            <option value="http://ex.org/ambidexterity">Ambidexterity</option>
            <option value="http://ex.org/polymyalgia">Polymyalgia</option>
            <option value="http://ex.org/stingingSensation">Stinging sensation</option>
            <option value="http://ex.org/shortnessOfBreath">Shortness of breath</option>
            <option value="http://ex.org/palpitation">Palpitation</option>
            <option value="http://ex.org/hypokalemia">Hypokalemia</option>
            <option value="http://ex.org/prostatism">Prostatism</option>
            <option value="http://ex.org/blanch">Blanch</option>
            <option value="http://ex.org/monocytosis">Monocytosis</option>
            <option value="http://ex.org/noisyRespiration">Noisy respiration</option>
            <option value="http://ex.org/pallor">Pallor</option>
            <option value="http://ex.org/fecesInRectum">Feces in rectum</option>
            <option value="http://ex.org/sneeze">Sneeze</option>
            <option value="http://ex.org/feelingHopeless">Feeling hopeless</option>
            <option value="http://ex.org/sputumPurulent">Sputum purulent</option>
            <option value="http://ex.org/swelling">Swelling</option>
            <option value="http://ex.org/leftAtrialHypertrophy">Left atrial hypertrophy</option>
            <option value="http://ex.org/welt">Welt</option>
            <option value="http://ex.org/intermenstrualHeavyBleeding">Intermenstrual heavy bleeding</option>
            <option value="http://ex.org/ecchymosis">Ecchymosis</option>
            <option value="http://ex.org/phonophobia">Phonophobia</option>
            <option value="http://ex.org/fearOfFalling">Fear of falling</option>
            <option value="http://ex.org/rhonchus">Rhonchus</option>
            <option value="http://ex.org/inappropriateAffect">Inappropriate affect</option>
            <option value="http://ex.org/anosmia">Anosmia</option>
            <option value="http://ex.org/adverseEffect">Adverse effect</option>
            <option value="http://ex.org/hackingCough">Hacking cough</option>
            <option value="http://ex.org/lameness">Lameness</option>
            <option value="http://ex.org/scarTissue">Scar tissue</option>
            <option value="http://ex.org/wheezing">Wheezing</option>
            <option value="http://ex.org/breathSoundsDecreased">Breath sounds decreased</option>
            <option value="http://ex.org/heberdensNode">Heberden's node</option>
            <option value="http://ex.org/hypothermiaNatural">Hypothermia natural</option>
            <option value="http://ex.org/hyperventilation">Hyperventilation</option>
            <option value="http://ex.org/neologism">Neologism</option>
            <option value="http://ex.org/chestTightness">Chest tightness</option>
            <option value="http://ex.org/atypia">Atypia</option>
            <option value="http://ex.org/incoherent">Incoherent</option>
            <option value="http://ex.org/hemianopsiaHomonymous">Hemianopsia homonymous</option>
            <option value="http://ex.org/mydriasis">Mydriasis</option>
            <option value="http://ex.org/constipation">Constipation</option>
            <option value="http://ex.org/fatigue">Fatigue</option>
            <option value="http://ex.org/painFoot">Pain foot</option>
            <option value="http://ex.org/symptomAggravatingFactors">Symptom aggravating factors</option>
            <option value="http://ex.org/unresponsiveness">Unresponsiveness</option>
            <option value="http://ex.org/hemePositive">Heme positive</option>
            <option value="http://ex.org/pin-pointPupils">Pin-point pupils</option>
            <option value="http://ex.org/stoolColorYellow">Stool color yellow</option>
            <option value="http://ex.org/groggy">Groggy</option>
            <option value="http://ex.org/frail">Frail</option>
            <option value="http://ex.org/tremor">Tremor</option>
            <option value="http://ex.org/massOfBodyStructure">Mass of body structure</option>
            <option value="http://ex.org/large-for-datesFetus">Large-for-dates fetus</option>
            <option value="http://ex.org/generalDiscomfort">General discomfort</option>
            <option value="http://ex.org/feelingStrange">Feeling strange</option>
            <option value="http://ex.org/immobile">Immobile</option>
            <option value="http://ex.org/redness">Redness</option>
            <option value="http://ex.org/asymptomatic">Asymptomatic</option>
            <option value="http://ex.org/worry">Worry</option>
            <option value="http://ex.org/urinaryHesitation">Urinary hesitation</option>
            <option value="http://ex.org/gravida0">Gravida 0</option>
            <option value="http://ex.org/historyOf-Blackout">History of - blackout</option>
            <option value="http://ex.org/hoard">Hoard</option>
            <option value="http://ex.org/sidePain">Side pain</option>
            <option value="http://ex.org/hematocritDecreased">Hematocrit decreased</option>
            <option value="http://ex.org/moan">Moan</option>
            <option value="http://ex.org/unhappy">Unhappy</option>
            <option value="http://ex.org/dysdiadochokinesia">Dysdiadochokinesia</option>
            <option value="http://ex.org/heavyLegs">Heavy legs</option>
            <option value="http://ex.org/unconsciousState">Unconscious state</option>
            <option value="http://ex.org/headache">Headache</option>
            <option value="http://ex.org/bradykinesia">Bradykinesia</option>
            <option value="http://ex.org/paralyse">Paralyse</option>
            <option value="http://ex.org/bedridden">Bedridden</option>
            <option value="http://ex.org/hirsutism">Hirsutism</option>
            <option value="http://ex.org/clammySkin">Clammy skin</option>
            <option value="http://ex.org/painAbdominal">Pain abdominal</option>
            <option value="http://ex.org/intoxication">Intoxication</option>
            <option value="http://ex.org/mediastinalShift">Mediastinal shift</option>
            <option value="http://ex.org/cardiomegaly">Cardiomegaly</option>
            <option value="http://ex.org/decreasedBodyWeight">Decreased body weight</option>
            <option value="http://ex.org/breakthroughPain">Breakthrough pain</option>
            <option value="http://ex.org/achalasia">Achalasia</option>
            <option value="http://ex.org/ramblingSpeech">Rambling speech</option>
            <option value="http://ex.org/claudication">Claudication</option>
            <option value="http://ex.org/rapidShallowBreathing">Rapid shallow breathing</option>
            <option value="http://ex.org/indifferentMood">Indifferent mood</option>
            <option value="http://ex.org/agitation">Agitation</option>
            <option value="http://ex.org/noStatusChange">No status change</option>
            <option value="http://ex.org/dyspnea">Dyspnea</option>
            <option value="http://ex.org/lesion">Lesion</option>
            <option value="http://ex.org/nasalDischargePresent">Nasal discharge present</option>
            <option value="http://ex.org/lightheadedness">Lightheadedness</option>
            <option value="http://ex.org/rWaveFeature">R wave feature</option>
            <option value="http://ex.org/hematochezia">Hematochezia</option>
            <option value="http://ex.org/titubation">Titubation</option>
            <option value="http://ex.org/lethargy">Lethargy</option>
            <option value="http://ex.org/unknown">Unknown</option>
            <option value="http://ex.org/alcoholBingeEpisode">Alcohol binge episode</option>
            <option value="http://ex.org/cushingoidFacies">Cushingoid facies</option>
            <option value="http://ex.org/focalSeizures">Focal seizures</option>
            <option value="http://ex.org/hyponatremia">Hyponatremia</option>
            <option value="http://ex.org/flushing">Flushing</option>
            <option value="http://ex.org/jugularVenousDistention">Jugular venous distention</option>
            <option value="http://ex.org/bedridden">Bedridden</option>
            <option value="http://ex.org/myoclonus">Myoclonus</option>
            <option value="http://ex.org/passedStones">Passed stones</option>
            <option value="http://ex.org/satietyEarly">Satiety early</option>
            <option value="http://ex.org/excruciatingPain">Excruciating pain</option>
            <option value="http://ex.org/painChest">Pain chest</option>
            <option value="http://ex.org/nightmare">Nightmare</option>
            <option value="http://ex.org/hypokinesia">Hypokinesia</option>
            <option value="http://ex.org/outOfBreath">Out of breath</option>
            <option value="http://ex.org/dysuria">Dysuria</option>
            <option value="http://ex.org/sleeplessness">Sleeplessness</option>
            <option value="http://ex.org/terrify">Terrify</option>
            <option value="http://ex.org/retch">Retch</option>
            <option value="http://ex.org/cardiovascularEvent">Cardiovascular event</option>
            <option value="http://ex.org/hypertonicity">Hypertonicity</option>
            <option value="http://ex.org/nervousness">Nervousness</option>
            <option value="http://ex.org/giddyMood">Giddy mood</option>
            <option value="http://ex.org/muscleTwitch">Muscle twitch</option>
            <option value="http://ex.org/abscessBacterial">Abscess bacterial</option>
            <option value="http://ex.org/pulseAbsent">Pulse absent</option>
            <option value="http://ex.org/painNeck">Pain neck</option>
            <option value="http://ex.org/moodDepressed">Mood depressed</option>
            <option value="http://ex.org/scratchMarks">Scratch marks</option>
            <option value="http://ex.org/aura">Aura</option>
            <option value="http://ex.org/sinusRhythm">Sinus rhythm</option>
            <option value="http://ex.org/awakeningEarly">Awakening early</option>
            <option value="http://ex.org/visionBlurred">Vision blurred</option>
            <option value="http://ex.org/gravida10">Gravida 10</option>
            <option value="http://ex.org/stSegmentElevation">St segment elevation</option>
            <option value="http://ex.org/abdominalTenderness">Abdominal tenderness</option>
            <option value="http://ex.org/retropulsion">Retropulsion</option>
            <option value="http://ex.org/dizzySpells">Dizzy spells</option>
            <option value="http://ex.org/asthenia">Asthenia</option>
            <option value="http://ex.org/decompensation">Decompensation</option>
            <option value="http://ex.org/systolicEjectionMurmur">Systolic ejection murmur</option>
            <option value="http://ex.org/hemodynamicallyStable">Hemodynamically stable</option>
            <option value="http://ex.org/fever">Fever</option>
            <option value="http://ex.org/absencesFinding">Absences finding</option>
            <option value="http://ex.org/nasalFlaring">Nasal flaring</option>
            <option value="http://ex.org/dizziness">Dizziness</option>
            <option value="http://ex.org/abdomenAcute">Abdomen acute</option>
            <option value="http://ex.org/motorRetardation">Motor retardation</option>
            <option value="http://ex.org/hypometabolism">Hypometabolism</option>
            <option value="http://ex.org/hypoproteinemia">Hypoproteinemia</option>
            <option value="http://ex.org/clumsiness">Clumsiness</option>
            <option value="http://ex.org/tWaveInverted">T wave inverted</option>
            <option value="http://ex.org/macule">Macule</option>
            <option value="http://ex.org/hepatomegaly">Hepatomegaly</option>
            <option value="http://ex.org/hypersomnia">Hypersomnia</option>
            <option value="http://ex.org/photophobia">Photophobia</option>
            <option value="http://ex.org/rale">Rale</option>
            <option value="http://ex.org/transsexual">Transsexual</option>
            <option value="http://ex.org/non-productiveCough">Non-productive cough</option>
            <option value="http://ex.org/energyIncreased">Energy increased</option>
            <option value="http://ex.org/noKnownDrugAllergies">No known drug allergies</option>
            <option value="http://ex.org/projectileVomiting">Projectile vomiting</option>
            <option value="http://ex.org/pansystolicMurmur">Pansystolic murmur</option>
            <option value="http://ex.org/tired">Tired</option>
            <option value="http://ex.org/homelessness">Homelessness</option>
            <option value="http://ex.org/extremeExhaustion">Extreme exhaustion</option>
            <option value="http://ex.org/scleralIcterus">Scleral icterus</option>
            <option value="http://ex.org/egophony">Egophony</option>
            <option value="http://ex.org/overweight">Overweight</option>
            <option value="http://ex.org/breechPresentation">Breech presentation</option>
            <option value="http://ex.org/roomSpinning">Room spinning</option>
            <option value="http://ex.org/gag">Gag</option>
            <option value="http://ex.org/mentalStatusChanges">Mental status changes</option>
            <option value="http://ex.org/flare">Flare</option>
            <option value="http://ex.org/sweat">Sweat</option>
            <option value="http://ex.org/urinoma">Urinoma</option>
            <option value="http://ex.org/cicatrisation">Cicatrisation</option>
            <option value="http://ex.org/orthostasis">Orthostasis</option>
            <option value="http://ex.org/generalUnsteadiness">General unsteadiness</option>
            <option value="http://ex.org/behaviorShowingIncreasedMotorActivity">Behavior showing increased motor activity</option>
            <option value="http://ex.org/haemorrhage">Haemorrhage</option>
            <option value="http://ex.org/orthopnea">Orthopnea</option>
            <option value="http://ex.org/primigravida">Primigravida</option>
            <option value="http://ex.org/frothySputum">Frothy sputum</option>
            <option value="http://ex.org/apyrexial">Apyrexial</option>
            <option value="http://ex.org/aphagia">Aphagia</option>
            <option value="http://ex.org/hyperemesis">Hyperemesis</option>
            <option value="http://ex.org/hydropneumothorax">Hydropneumothorax</option>
            <option value="http://ex.org/numbness">Numbness</option>
            <option value="http://ex.org/hematuria">Hematuria</option>
            <option value="http://ex.org/unwell">Unwell</option>
            <option value="http://ex.org/splenomegaly">Splenomegaly</option>
            <option value="http://ex.org/productiveCough">Productive cough</option>
            <option value="http://ex.org/chestDiscomfort">Chest discomfort</option>
            <option value="http://ex.org/hypesthesia">Hypesthesia</option>
            <option value="http://ex.org/stiffness">Stiffness</option>
            <option value="http://ex.org/throbbingSensationQuality">Throbbing sensation quality</option>
            <option value="http://ex.org/weepiness">Weepiness</option>
            <option value="http://ex.org/nausea">Nausea</option>
            <option value="http://ex.org/soreToTouch">Sore to touch</option>
            <option value="http://ex.org/hyperkalemia">Hyperkalemia</option>
            <option value="http://ex.org/thicken">Thicken</option>
            <option value="http://ex.org/fremitus">Fremitus</option>
            <option value="http://ex.org/anginaPectoris">Angina pectoris</option>
            <option value="http://ex.org/asterixis">Asterixis</option>
            <option value="http://ex.org/nightSweat">Night sweat</option>
            <option value="http://ex.org/withdraw">Withdraw</option>
            <option value="http://ex.org/clonus">Clonus</option>
            <option value="http://ex.org/hasReligiousBelief">Has religious belief</option>
            <option value="http://ex.org/qtIntervalProlonged">Qt interval prolonged</option>
            <option value="http://ex.org/posturing">Posturing</option>
            <option value="http://ex.org/speechSlurred">Speech slurred</option>
            <option value="http://ex.org/pruritus">Pruritus</option>
            <option value="http://ex.org/hypotension">Hypotension</option>
            <option value="http://ex.org/patientNonCompliance">Patient non compliance</option>
            <option value="http://ex.org/dyspneaOnExertion">Dyspnea on exertion</option>
            <option value="http://ex.org/snore">Snore</option>
            <option value="http://ex.org/enuresis">Enuresis</option>
            <option value="http://ex.org/restPain">Rest pain</option>
            <option value="http://ex.org/urgencyOfMicturition">Urgency of micturition</option>
            <option value="http://ex.org/dysarthria">Dysarthria</option>
            <option value="http://ex.org/facialParesis">Facial paresis</option>
            <option value="http://ex.org/fall">Fall</option>
            <option value="http://ex.org/hyperhidrosisDisorder">Hyperhidrosis disorder</option>
            <option value="http://ex.org/vomiting">Vomiting</option>
            <option value="http://ex.org/suicidal">Suicidal</option>
            <option value="http://ex.org/stupor">Stupor</option>
            <option value="http://ex.org/haemoptysis">Haemoptysis</option>
            <option value="http://ex.org/drool">Drool</option>
            <option value="http://ex.org/tonicSeizures">Tonic seizures</option>
            <option value="http://ex.org/paresis">Paresis</option>
            <option value="http://ex.org/prodrome">Prodrome</option>
            <option value="http://ex.org/nonsmoker">Nonsmoker</option>
            <option value="http://ex.org/dyspareunia">Dyspareunia</option>
            <option value="http://ex.org/distendedAbdomen">Distended abdomen</option>
            <option value="http://ex.org/slowingOfUrinaryStream">Slowing of urinary stream</option>
            <option value="http://ex.org/ascites">Ascites</option>
            <option value="http://ex.org/cushingoidHabitus">Cushingoid habitus</option>
            <option value="http://ex.org/abdominalBloating">Abdominal bloating</option>
            <option value="http://ex.org/colicAbdominal">Colic abdominal</option>
            <option value="http://ex.org/erythema">Erythema</option>
            <option value="http://ex.org/polydypsia">Polydypsia</option>
            <option value="http://ex.org/wheelchairBound">Wheelchair bound</option>
            <option value="http://ex.org/urgeIncontinence">Urge incontinence</option>
            <option value="http://ex.org/abnormallyHardConsistency">Abnormally hard consistency</option>
            <option value="http://ex.org/moody">Moody</option>
            <option value="http://ex.org/greenSputum">Green sputum</option>
            <option value="http://ex.org/cyanosis">Cyanosis</option>
            <option value="http://ex.org/burningSensation">Burning sensation</option>
            <option value="http://ex.org/uncoordination">Uncoordination</option>
            <option value="http://ex.org/feelsHot/feverish">Feels hot/feverish</option>
            <option value="http://ex.org/foodIntolerance">Food intolerance</option>
            <option value="http://ex.org/panic">Panic</option>
            <option value="http://ex.org/verbalAuditoryHallucinations">Verbal auditory hallucinations</option>
            <option value="http://ex.org/hunger">Hunger</option>
            <option value="http://ex.org/disequilibrium">Disequilibrium</option>
            <option value="http://ex.org/previousPregnancies2">Previous pregnancies 2</option>
            <option value="http://ex.org/heartburn">Heartburn</option>
            <option value="http://ex.org/nauseaAndVomiting">Nausea and vomiting</option>
            <option value="http://ex.org/abortion">Abortion</option>
            <option value="http://ex.org/posteriorRhinorrhea">Posterior rhinorrhea</option>
            <option value="http://ex.org/anorexia">Anorexia</option>
            <option value="http://ex.org/underweight">Underweight</option>
            <option value="http://ex.org/diarrhea">Diarrhea</option>
            <option value="http://ex.org/difficulty">Difficulty</option>
            <option value="http://ex.org/shootingPain">Shooting pain</option>
            <option value="http://ex.org/behaviorHyperactive">Behavior hyperactive</option>
            <option value="http://ex.org/decreasedTranslucency">Decreased translucency</option>
            <option value="http://ex.org/transaminitis">Transaminitis</option>
            <option value="http://ex.org/ache">Ache</option>
            <option value="http://ex.org/elation">Elation</option>
            <option value="http://ex.org/sedentary">Sedentary</option>
            <option value="http://ex.org/rollingOfEyes">Rolling of eyes</option>
            <option value="http://ex.org/floppy">Floppy</option>
            <option value="http://ex.org/bleedingOfVagina">Bleeding of vagina</option>
            <option value="http://ex.org/hallucinationsAuditory">Hallucinations auditory</option>
            <option value="http://ex.org/charleyhorse">Charleyhorse</option>
            <option value="http://ex.org/cachexia">Cachexia</option>
            <option value="http://ex.org/hoarseness">Hoarseness</option>
            <option value="http://ex.org/estrogenUse">Estrogen use</option>
            <option value="http://ex.org/redBlotches">Red blotches</option>
            <option value="http://ex.org/pneumatouria">Pneumatouria</option>
            <option value="http://ex.org/verballyAbusiveBehavior">Verbally abusive behavior</option>
            <option value="http://ex.org/emphysematousChange">Emphysematous change</option>
            <option value="http://ex.org/sweatingIncreased">Sweating increased</option>
            <option value="http://ex.org/painBack">Pain back</option>
            <option value="http://ex.org/hypocalcemiaResult">Hypocalcemia result</option>
            <option value="http://ex.org/tenesmus">Tenesmus</option>
            <option value="http://ex.org/neckStiffness">Neck stiffness</option>
            <option value="http://ex.org/spontaneousRuptureOfMembranes">Spontaneous rupture of membranes</option>
            <option value="http://ex.org/dysesthesia">Dysesthesia</option>
            <option value="http://ex.org/choke">Choke</option>
            <option value="http://ex.org/pressureChest">Pressure chest</option>
            <option value="http://ex.org/systolicMurmur">Systolic murmur</option>
            <option value="http://ex.org/homicidalThoughts">Homicidal thoughts</option>
            <option value="http://ex.org/drowsiness">Drowsiness</option>
            <option value="http://ex.org/toddParalysis">Todd paralysis</option>
            <option value="http://ex.org/stridor">Stridor</option>
            <option value="http://ex.org/maceratedSkin">Macerated skin</option>
            <option value="http://ex.org/rigor-Temperature-associatedObservation">Rigor - temperature-associated observation</option>
            <option value="http://ex.org/hyperacusis">Hyperacusis</option>
            <option value="http://ex.org/underweight">Underweight</option>
            <option value="http://ex.org/softTissueSwelling">Soft tissue swelling</option>
            <option value="http://ex.org/pericardialFrictionRub">Pericardial friction rub</option>
            <option value="http://ex.org/hypoxemia">Hypoxemia</option>
            <option value="http://ex.org/chill">Chill</option>
            <option value="http://ex.org/hypoalbuminemia">Hypoalbuminemia</option>
            <option value="http://ex.org/tremorResting">Tremor resting</option>
            <option value="http://ex.org/ataxia">Ataxia</option>
            <option value="http://ex.org/bruit">Bruit</option>
            <option value="http://ex.org/alcoholicWithdrawalSymptoms">Alcoholic withdrawal symptoms</option>
            <option value="http://ex.org/consciousnessClear">Consciousness clear</option>
            <option value="http://ex.org/fecaluria">Fecaluria</option>
            <option value="http://ex.org/milky">Milky</option>
            <option value="http://ex.org/arthralgia">Arthralgia</option>
            <option value="http://ex.org/guaiacPositive">Guaiac positive</option>
            <option value="http://ex.org/unableToConcentrate">Unable to concentrate</option>
            <option value="http://ex.org/vertigo">Vertigo</option>
            <option value="http://ex.org/presenceOfQWave">Presence of q wave</option>
            <option value="http://ex.org/irritableMood">Irritable mood</option>
            <option value="http://ex.org/monoclonal">Monoclonal</option>
            <option value="http://ex.org/looseAssociations">Loose associations</option>
            <option value="http://ex.org/extrapyramidalSign">Extrapyramidal sign</option>
            <option value="http://ex.org/stSegmentDepression">St segment depression</option>
            <option value="http://ex.org/hallucinationsVisual">Hallucinations visual</option>
            <option value="http://ex.org/photopsia">Photopsia</option>
            <option value="http://ex.org/pustule">Pustule</option>
            <option value="http://ex.org/seizure">Seizure</option>
            <option value="http://ex.org/snuffle">Snuffle</option>
            <option value="http://ex.org/malaise">Malaise</option>
            <option value="http://ex.org/sensoryDiscomfort">Sensory discomfort</option>
            <option value="http://ex.org/exhaustion">Exhaustion</option>
            <option value="http://ex.org/painInLowerLimb">Pain in lower limb</option>
            <option value="http://ex.org/stuffyNose">Stuffy nose</option>
            <option value="http://ex.org/oliguria">Oliguria</option>
            <option value="http://ex.org/impairedCognition">Impaired cognition</option>
            <option value="http://ex.org/adverseReaction">Adverse reaction</option>
            <option value="http://ex.org/stahlisLine">Stahli's line</option>
            <option value="http://ex.org/para1">Para 1</option>
            <option value="http://ex.org/coordinationAbnormal">Coordination abnormal</option>
            <option value="http://ex.org/throatSore">Throat sore</option>
            <option value="http://ex.org/cysticLesion">Cystic lesion</option>
            <option value="http://ex.org/tumorCellInvasion">Tumor cell invasion</option>
            <option value="http://ex.org/hemiplegia">Hemiplegia</option>
            <option value="http://ex.org/sniffle">Sniffle</option>
            <option value="http://ex.org/superimposition">Superimposition</option>
            <option value="http://ex.org/distressRespiratory">Distress respiratory</option>
            <option value="http://ex.org/unsteadyGait">Unsteady gait</option>
            <option value="http://ex.org/catatonia">Catatonia</option>
            <option value="http://ex.org/bradycardia">Bradycardia</option>
            <option value="http://ex.org/regurgitatesAfterSwallowing">Regurgitates after swallowing</option>
            <option value="http://ex.org/spasm">Spasm</option>
            <option value="http://ex.org/difficultyPassingUrine">Difficulty passing urine</option>
            <option value="http://ex.org/abnormalSensation">Abnormal sensation</option>
            <option value="http://ex.org/sciatica">Sciatica</option>
            <option value="http://ex.org/paraparesis">Paraparesis</option>
            <option value="http://ex.org/prostateTender">Prostate tender</option>
            <option value="http://ex.org/hypotonic">Hypotonic</option>
            <option value="http://ex.org/gurgle">Gurgle</option>
            <option value="http://ex.org/tachypnea">Tachypnea</option>
            <option value="http://ex.org/laboredBreathing">Labored breathing</option>
            <option value="http://ex.org/formication">Formication</option>
            <option value="http://ex.org/syncope">Syncope</option>
            <option value="http://ex.org/massInBreast">Mass in breast</option>
            <option value="http://ex.org/bowelSoundsDecreased">Bowel sounds decreased</option>
            <option value="http://ex.org/rhdPositive">Rhd positive</option>
            <option value="http://ex.org/renalAngleTenderness">Renal angle tenderness</option>
            <option value="http://ex.org/debilitation">Debilitation</option>
            <option value="http://ex.org/barkingCough">Barking cough</option>
            <option value="http://ex.org/sleepy">Sleepy</option>
            <option value="http://ex.org/poorFeeding">Poor feeding</option>
            <option value="http://ex.org/proteinemia">Proteinemia</option>
            <option value="http://ex.org/hypersomnolence">Hypersomnolence</option>
            <option value="http://ex.org/feelingSuicidal">Feeling suicidal</option>
            <option value="http://ex.org/polyuria">Polyuria</option>
            <option value="http://ex.org/metastaticLesion">Metastatic lesion</option>
            <option value="http://ex.org/lungNodule">Lung nodule</option>
            <option value="http://ex.org/tinnitus">Tinnitus</option>
            <option value="http://ex.org/lipSmacking">Lip smacking</option>
            <option value="http://ex.org/dullness">Dullness</option>
            <option value="http://ex.org/hepatosplenomegaly">Hepatosplenomegaly</option>
            <option value="http://ex.org/gaspingForBreath">Gasping for breath</option>
            <option value="http://ex.org/disturbedFamily">Disturbed family</option>
            <option value="http://ex.org/decreasedStoolCaliber">Decreased stool caliber</option>
            <option value="http://ex.org/painfulSwallowing">Painful swallowing</option>
            <option value="http://ex.org/poorDentition">Poor dentition</option>
            <option value="http://ex.org/paresthesia">Paresthesia</option>
            <option value="http://ex.org/lowBackPain">Low back pain</option>
            <option value="http://ex.org/catchingBreath">Catching breath</option>
            <option value="http://ex.org/pulsusParadoxus">Pulsus paradoxus</option>
            <option value="http://ex.org/fatigability">Fatigability</option>
            <option value="http://ex.org/pleuriticPain">Pleuritic pain</option>
            <option value="http://ex.org/flatulence">Flatulence</option>
            <option value="http://ex.org/myalgia">Myalgia</option>
            <option value="http://ex.org/breath-holdingSpell">Breath-holding spell</option>
            <option value="http://ex.org/para2">Para 2</option>
            <option value="http://ex.org/pain">Pain</option>
            <option value="http://ex.org/numbnessOfHand">Numbness of hand</option>
            <option value="http://ex.org/murphysSign">Murphy's sign</option>
            <option value="http://ex.org/airFluidLevel">Air fluid level</option>
            <option value="http://ex.org/muscleHypotonia">Muscle hypotonia</option>
            <option value="http://ex.org/cough">Cough</option>
            <option value="http://ex.org/weightGain">Weight gain</option>
            <option value="http://ex.org/hotFlush">Hot flush</option>
            <option value="http://ex.org/blackout">Blackout</option>
            <!-- Agrega más opciones según tus síntomas -->
        </select>
        <button type="submit">Search diseases</button>
    </form>

    {% if dbpedia_results %}
        <h2>Diseases Info:</h2>
        <ul>
            {% for disease_uri, number_coincidences, total_symptoms, dbpedia_link, dbpedia_summary, symptoms in dbpedia_results %}
                <li>
                    <strong>Disease:</strong> {{ disease_uri }} <strong>Coincidences:</strong> {{ number_coincidences }} / {{total_symptoms}}<br><br>
                    <strong>Symptoms:</strong> {{ ', '.join(symptoms) }}.<br><br>
                    <strong>Abstract:</strong> {{ dbpedia_summary }}<br><br>
                    <strong><a href="{{ dbpedia_link }}">See more</a></strong><br>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
